<div ng-init="list = true" >
    <div id="navbar">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#book-navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">Best Sellers of 2016 (So Far)</a><a href="#">See Top 100</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <!-- En el siguiente bloque se definen los botones a usar para crear un Book-->
                <div class="collapse navbar-collapse" id="book-navbar">

                </div>
            </div>
        </nav>
    </div>
    <!-- El siguiente bloque DIV contiene los libros para mostrar -->
    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <div class="col-md-12" >
                    <div class="img-thumbnail" id="image">
                        <img class="img-responsive" style="height: 10vmax;" src="http://ecx.images-amazon.com/images/I/61KaCYPW28L._AA160_.jpg" alt="">
                    </div>
                </div>
                <div class="caption" >
                    <p><strong>Name:</strong> The Life We Bury</p>
                    <p><strong>Description:</strong> College student Joe Talbert has the modest goal of completing a writing assignment for an English class.</p>
                    <p><strong>ISBN:</strong> 1616149981</p>
                    <p><strong>Publish Date:</strong> October, 2014</p>
                    <p>
                        <a class="btn btn-default" href="#" role="button">Buy now »</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <!-- El siguiente bloque es el segundo DIV para el segundo libro-->
            <div class="well">
                <div class="col-md-12">
                    <div class="img-thumbnail" id="image">
                        <img class="img-responsive" style="height: 10vmax;" src="http://ecx.images-amazon.com/images/I/51MfO0a70ZL._AA160_.jpg" alt="">
                    </div>
                </div>
                <div class="caption" >
                    <p><strong>Name:</strong> All the Light We Cannot See</p>
                    <p><strong>Description:</strong> Marie-Laure lives with her father in Paris near the Museum of Natural History, where he works as the master of its thousands of locks.</p>
                    <p><strong>ISBN:</strong> 1476746583</p>
                    <p><strong>Publish Date:</strong> May, 2014</p>
                    <p>
                        <a class="btn btn-default" href="#" role="button">Buy now »</a>
                    </p>
                </div>
            </div>    
        </div>



    </div>

</div>