<div ng-init="list = true" >
    <div id="navbar">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#book-navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">Most read authors in the world</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <!-- En el siguiente bloque se definen los botones a usar para crear un Book-->
                <div class="collapse navbar-collapse" id="book-navbar">

                </div>
            </div>
        </nav>
    </div>
    <!-- El siguiente bloque DIV contiene los libros para mostrar -->
    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <div class="col-md-12" >
                    <div class="img-thumbnail" id="image">
                        <img class="img-responsive" style="height: 10vmax;" src="http://alleneskens.com/images/allen-eskens.jpg" alt="">
                    </div>
                </div>
                <div class="caption" >
                    <p><strong>Name:</strong> Allen Eskens</p>
                    <p><strong>Description:</strong> My name is Allen Eskens and I have a deep passion for writing engaging fiction.</p>
                    <p><strong>Nationality:</strong> USA</p>
                    <p><strong>Birth Date:</strong> October, 1970</p>
                    <p>
                        <a class="btn btn-default" href="#" role="button">View details »</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <!-- El siguiente bloque es el segundo DIV para el segundo libro-->
            <div class="well">
                <div class="col-md-12">
                    <div class="img-thumbnail" id="image">
                        <img class="img-responsive" style="height: 10vmax;" src="https://upload.wikimedia.org/wikipedia/commons/0/0f/Gabriel_Garcia_Marquez.jpg" alt="">
                    </div>
                </div>
                <div class="caption" >
                    <p><strong>Name:</strong> Gabriel José García Márquez</p>
                    <p><strong>Description:</strong>  Considered one of the most significant authors of the 20th century and one of the best in the Spanish language.</p>
                    <p><strong>Nationality:</strong> Colombia</p>
                    <p><strong>Birth Date:</strong> March, 1927</p>
                    <p>
                        <a class="btn btn-default" href="#" role="button">View details »</a>
                    </p>
                </div>
            </div>    
        </div>



    </div>

</div>