<div ng-init="list = true" >
    <div id="navbar">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#book-navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">Promotions Books</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <!-- En el siguiente bloque se definen los botones a usar para crear un Book-->
                <div class="collapse navbar-collapse" id="book-navbar">

                </div>
            </div>
        </nav>
    </div>
    <!-- El siguiente bloque DIV contiene los libros para mostrar -->
    <div class="row">
        <div class="col-md-4">

            <div class="col-md-12" >
                <div class="img-thumbnail" id="image">
                    <img class="img-responsive" style="height: 7vmax;" src="http://ecx.images-amazon.com/images/I/61KaCYPW28L._AA160_.jpg" alt="">
                </div>
            </div>
            <div class="caption" >
                <p><strong>The Life We Bury</strong></p>
                <p><strong>Description:</strong><h6>College student Joe Talbert has the modest goal of completing a writing assignment for an English class.</h6></p>
                <p><strong>ISBN:</strong><h6> 1616149981</h6></p>
                <p><strong>Publish Date:</strong><h6>October, 2014</h6></p>
                <p>
                    <a class="btn btn-default" href="#" role="button">Buy now »</a>
                </p>
            </div>    
        </div>
        <div class="col-md-4">
            <div class="col-md-12">
                <div class="img-thumbnail" id="image">
                    <img class="img-responsive" style="height: 7vmax;" src="http://www.apress.com/media/catalog/product/cache/9/image/9df78eab33525d08d6e5fb8d27136e95/A/9/A9781484206423-3d.png" alt="">
                </div>
            </div>
            <div class="caption" >
                <p><strong>Pro Java 8 Programming</strong></p>
                <p><strong>Description:</strong><h6>Pro Java 8 Programming covers the core Java development kit. It takes advantage of the finer points of the core standard edition (SE) and development kit version 8.</h6></p>
                <p><strong>ISBN:</strong><h6> 10011002</h6></p>
                <p><strong>Publish Date:</strong> <h6>May, 2015</h6></p>
                <p>
                    <a class="btn btn-default" href="#" role="button">Buy now »</a>
                </p>
            </div>    
        </div>

        <div class="col-md-4">

            <div class="col-md-12">
                <div class="img-thumbnail" id="image">
                    <img class="img-responsive" style="height: 7vmax; width: 7vmax;" src="http://ecx.images-amazon.com/images/I/416PUh2%2BrlL._SX348_BO1,204,203,200_.jpg" alt="">
                </div>
            </div>
            <div class="caption" >
                <p><strong>Pro Java 8 Programming</strong></p>
                <p><strong>Description:</strong><h6>Pro Java 8 Programming covers the core Java development kit. It takes advantage of the finer points of the core standard edition (SE) and development kit version 8.</h6></p>
                <p><strong>ISBN:</strong><h6> 10011002</h6></p>
                <p><strong>Publish Date:</strong> <h6>May, 2015</h6></p>
                <p>
                    <a class="btn btn-default" href="#" role="button">Buy now »</a>
                </p>
            </div>    
        </div>
    </div>
</div>